In [133]:
import pandas as pd
import numpy as np

file_school_data = "Resources/schools_complete.csv"
file_student_data = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(file_school_data)
student_data = pd.read_csv(file_student_data)

# Combine the data into a single dataset
#combined_df = pd.merge(student_data, school_data, how="left", on="school_name")
combined_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [134]:
ninth_grade = combined_df[combined_df.grade == '9th'][["school_name","math_score"]].set_index("school_name").groupby("school_name").mean()
ninth_grade.columns = ['9th']

tenth_grade = combined_df[combined_df.grade == '10th'][["school_name","math_score"]].set_index("school_name").groupby("school_name").mean()
tenth_grade.columns = ['10th']

eleventh_grade = combined_df[combined_df.grade == '11th'][["school_name","math_score"]].set_index("school_name").groupby("school_name").mean()
eleventh_grade.columns = ['11th']

twelfth_grade = combined_df[combined_df.grade == '12th'][["school_name","math_score"]].set_index("school_name").groupby("school_name").mean()
twelfth_grade.columns = ["12th"]
# twelfth_grade.columns

combinded_grades = pd.merge(ninth_grade, tenth_grade, on="school_name")
combinded_grades = pd.merge(combinded_grades, eleventh_grade, on="school_name")
combinded_grades = pd.merge(combinded_grades, twelfth_grade, on="school_name")
combinded_grades.index.names = ['School Name']

combinded_grades["9th"] = combinded_grades["9th"].map("{:.2f}".format)
combinded_grades["10th"] = combinded_grades["10th"].map("{:.2f}".format)
combinded_grades["11th"] = combinded_grades["11th"].map("{:.2f}".format)
combinded_grades["12th"] = combinded_grades["12th"].map("{:.2f}".format)

combinded_grades.index.names = ['School Name']

combinded_grades

                         9th   10th   11th   12th
School Name
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

In [135]:
school_summary = pd.DataFrame({"School Name":combined_df["school_name"].unique(),
        "School Type":school_data[["school_name","type"]]["type"],
        "Total Students":school_data[["school_name","size"]]["size"],
        "Per Student Budget":school_data["budget"]/school_data["size"],
#         "Average Math Score":combined_df.groupby("school_name").mean()["math_score"].values,
#         "Average Reading Score":combined_df.groupby("school_name").mean()["reading_score"].values,
                               
#         "Overall Passing Rate":(combined_df.groupby("school_name").mean()["math_score"].values + 
#                                 combined_df.groupby("school_name").mean()["reading_score"].values)/2
})

school_summary.style.format({
   'Total Students': '{:,}'.format,
    'Per Student Budget': '${:.2f}'.format,
    'Average Math Score': '{:.2f}'.format,
    'Average Reading Score' : '{:.2f}'.format
})
   
grade_stats = pd.DataFrame({"Average Math Score":combined_df.groupby('school_name')["math_score"].mean(), 
                           "Average Reading Score":combined_df.groupby('school_name')["reading_score"].mean()})

grade_stats["% Passing Reading"] = combined_df[combined_df["reading_score"] > 70][["school_name","reading_score"]].groupby("school_name").count()
grade_stats["% Passing Math"] = combined_df[combined_df["math_score"] > 70][["school_name","math_score"]].groupby("school_name").count()

grade_stats = pd.merge(grade_stats, school_data[['school_name', 'size']],  on = 'school_name')

grade_stats["% Passing Math"] = passing_by_school["math_score"]/passing_by_school["size"]
grade_stats["% Passing Reading"] = passing_by_school["reading_score"]/passing_by_school["size"]
grade_stats["Overall Passing Rate"] = (grade_stats["% Passing Reading"] + 
                                        grade_stats["% Passing Reading"])/2

del grade_stats['size']
grade_stats=grade_stats.rename(columns = {'school_name':'School Name'})
grade_stats

,School Name,Average Math Score,Average Reading Score,% Passing Reading,% Passing Math,Overall Passing Rate
0,Bailey High School,77.048432,81.033963,0.793006,0.646302,0.793006
1,Cabrera High School,83.061895,83.975780,0.938644,0.895587,0.938644
2,Figueroa High School,76.711767,81.158020,0.784334,0.637504,0.784334
3,Ford High School,77.102592,80.746258,0.775100,0.657539,0.775100
4,Griffin High School,83.351499,83.816757,0.933924,0.897139,0.933924
5,Hernandez High School,77.289752,80.934412,0.781877,0.647465,0.781877
6,Holden High School,83.803279,83.814988,0.927400,0.906323,0.927400
7,Huang High School,76.629414,81.182722,0.788138,0.633185,0.788138
8,Johnson High School,77.072464,80.966394,0.782819,0.638521,0.782819
9,Pena High School,83.839917,84.044699,0.922037,0.916840,0.922037
10,Rodriguez High School,76.842711,80.744686,0.777444,0.640660,0.777444
11,Shelton High School,83.359455,83.725724,0.926178,0.898921,0.926178
12,Thomas High School,83.418349,83.848930,0.929052,0.902141,0.929052
13,Wilson High School,83.274201,83.989488,0.932545,0.909330,0.932545
14,Wright High School,83.682222,83.955000,0.934444,0.902778,0.934444

In [136]:
school_summary.merge(grade_stats, on="School Name")

,School Name,School Type,Total Students,Per Student Budget,Average Math Score,Average Reading Score,% Passing Reading,% Passing Math,Overall Passing Rate
0,Huang High School,District,2917,655.0,76.629414,81.182722,0.788138,0.633185,0.788138
1,Figueroa High School,District,2949,639.0,76.711767,81.158020,0.784334,0.637504,0.784334
2,Shelton High School,Charter,1761,600.0,83.359455,83.725724,0.926178,0.898921,0.926178
3,Hernandez High School,District,4635,652.0,77.289752,80.934412,0.781877,0.647465,0.781877
4,Griffin High School,Charter,1468,625.0,83.351499,83.816757,0.933924,0.897139,0.933924
5,Wilson High School,Charter,2283,578.0,83.274201,83.989488,0.932545,0.909330,0.932545
6,Cabrera High School,Charter,1858,582.0,83.061895,83.975780,0.938644,0.895587,0.938644
7,Bailey High School,District,4976,628.0,77.048432,81.033963,0.793006,0.646302,0.793006
8,Holden High School,Charter,427,581.0,83.803279,83.814988,0.927400,0.906323,0.927400
9,Pena High School,Charter,962,609.0,83.839917,84.044699,0.922037,0.916840,0.922037
10,Wright High School,Charter,1800,583.0,83.682222,83.955000,0.934444,0.902778,0.934444
11,Rodriguez High School,District,3999,637.0,76.842711,80.744686,0.777444,0.640660,0.777444
12,Johnson High School,District,4761,650.0,77.072464,80.966394,0.782819,0.638521,0.782819
13,Ford High School,District,2739,644.0,77.102592,80.746258,0.775100,0.657539,0.775100
14,Thomas High School,Charter,1635,638.0,83.418349,83.848930,0.929052,0.902141,0.929052

In [137]:
school_data.set_index("school_name")
del school_data["School ID"]

In [139]:

school_data= school_data.rename(columns={'school_name': 'School Name', 
                                         "type" : "School Type", 
                                         "size" : "Total Students", 
                                         "budget" : "Per Student Budget"})

school_data["Per Student Budget"] = school_data["Per Student Budget"]/school_data["Total Students"]
school_data

              School Name School Type  Total Students  Per Student Budget
0       Huang High School    District            2917               655.0
1    Figueroa High School    District            2949               639.0
2     Shelton High School     Charter            1761               600.0
3   Hernandez High School    District            4635               652.0
4     Griffin High School     Charter            1468               625.0
5      Wilson High School     Charter            2283               578.0
6     Cabrera High School     Charter            1858               582.0
7      Bailey High School    District            4976               628.0
8      Holden High School     Charter             427               581.0
9        Pena High School     Charter             962               609.0
10     Wright High School     Charter            1800               583.0
11  Rodriguez High School    District            3999               637.0
12    Johnson High School    District            4761               650.0
13       Ford High School    District            2739               644.0
14     Thomas High School     Charter            1635               638.0